<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Risk Calculation Engine">
    <meta name="author" content="Hengyi (Harry) Zhu and Shuran Zhang">
    <link rel="icon" href='{{ url_for('static',filename='favicon.ico')}}'>

    <title>Risk Calculation Engine</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='ie10-viewport-bug-workaround.css')}}'>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src='{{ url_for('static',filename='ie8-responsive-file-warning.js')}}'></script><![endif]-->
    <script src='{{ url_for('static',filename='ie-emulation-modes-warning.js')}}'></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='carousel.css')}}'>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='font-awesome-4.7.0/css/font-awesome.min.css')}}'>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css" type="text/css" />
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>
    {{ script | safe }}

    {% if scroll %}
    <script>
    document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top container">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Risk Calculation Engine</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li style="font-size:130%;" class="active"><a href="#feature1">Individual stock</a></li>
                <li style="font-size:130%;"><a href="#feature2">Portfolio</a></li>
                <li style="font-size:130%;"><a href="#feature3">Options</a></li>
                <li style="font-size:130%;" class="pull-right">
                    <a href="https://github.com/Hengyi-Zhu/risk-mgmt-eevee" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      
      <hr style="margin-top: 60px;">  
        
      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div id="feature1">
          <h3 align="center" style="font-size:50px;">Individual Stock </h3>
          <p class="lead" align="center">Some descriptions.</p>
          <form style="font-size:130%;" method='post' align="center">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Ticker: </span>
                  <input type="text" class="form-control" name="tickers_string_1" value="{{tickers_string_1_value}}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Start date: </span>
                  <input type="date" class="form-control" name="position_date_1" value='{{position_date_1_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">End date: </span>
                  <input type="date" class="form-control" name="end_date_1" value='{{end_date_1_value}}'>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Initial Investments: </span>
                  <input type="text" class="form-control" name="v0_1" value="{{v0_1_value}}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">VaR Probability: </span>
                  <input type="text" class="form-control" name="var_prob_1" value='{{var_prob_1_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">ES Probability: </span>
                  <input type="text" class="form-control" name="es_prob_1" value='{{es_prob_1_value}}'>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Window (years): </span>
                  <input type="text" class="form-control" name="window_year_1" value='{{window_year_1_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Horizon (days): </span>
                  <input type="text" class="form-control" name="horizon_day_1" value='{{horizon_day_1_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="input-group">
                      <span class="input-group-addon">Risk Method: </span>
                      <select class="form-control" name='var_es_method_1'>
                        <option>Parametric VaR/ES</option>
                        <option>Historical VaR/ES</option>
                        <option>Monte Carlo VaR/ES</option>
                      </select>
                  </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <input type='submit' name="btn_1" value='Price Plot'> &nbsp;
              <input type='submit' name="btn_1" value='Parameter Plot'> &nbsp;
              <input type='submit' name="btn_1" value='Risk Plot'> &nbsp;
              <input type='submit' name="btn_1" value='Download Result Data'>
              <input type="hidden" name="output_file_1" value="{{output_file_1}}">
            </div>
          </form>
        <br>
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">{{ div_1_1 | safe }}</div>
          </div>
          <div class="row">{{ div_1_2 | safe }}</div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div id="feature2">
          <h3 align="center" style="font-size:50px;">Portfolio</h3>
          <p class="lead" align="center">Some descriptions.</p>
          <form style="font-size:130%;" method='post' align="center">
            <div class="row">
              <div class="col-md-8">
                <div class="input-group">
                  <span class="input-group-addon">Tickers: </span>
                  <input type="text" class="form-control" name="tickers_string_2" value="{{tickers_string_2_value}}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Start date: </span>
                  <input type="date" class="form-control" name="position_date_2" value='{{position_date_2_value}}'>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="input-group">
                  <span class="input-group-addon">Weights: </span>
                  <input type="text" class="form-control" name="weights_string_2" value="{{weights_string_2_value}}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">End date: </span>
                  <input type="date" class="form-control" name="end_date_2" value='{{end_date_2_value}}'>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Initial Investments: </span>
                  <input type="text" class="form-control" name="v0_2" value="{{v0_2_value}}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">VaR Probability: </span>
                  <input type="text" class="form-control" name="var_prob_2" value='{{var_prob_2_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">ES Probability: </span>
                  <input type="text" class="form-control" name="es_prob_2" value='{{es_prob_2_value}}'>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Window (years): </span>
                  <input type="text" class="form-control" name="window_year_2" value='{{window_year_2_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Horizon (days): </span>
                  <input type="text" class="form-control" name="horizon_day_2" value='{{horizon_day_2_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="input-group">
                      <span class="input-group-addon">Risk Method: </span>
                      <select class="form-control" name='var_es_method_2'>
                        <option>Parametric VaR/ES</option>
                        <option>Historical VaR/ES</option>
                        <option>Monte Carlo VaR/ES</option>
                      </select>
                  </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <input type='submit' name="btn_2" value='Price Plot'> &nbsp;
              <input type='submit' name="btn_2" value='Parameter Plot'> &nbsp;
              <input type='submit' name="btn_2" value='Risk Plot'> &nbsp;
              <input type='submit' name="btn_2" value='Download Result Data'>
              <input type="hidden" name="output_file_2" value="{{output_file_2}}">
            </div>
          </form>
        <br>
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">{{ div_2_1 | safe }}</div>
          </div>
          <div class="row">{{ div_2_2 | safe }}</div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div id="feature3">
          <h3 align="center" style="font-size:50px;">Options</h3>
          <p class="lead" align="center">Some descriptions.</p>
          <form style="font-size:130%;" method='post' align="center">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Ticker: </span>
                  <input type="text" class="form-control" name="tickers_string_3" value="{{tickers_string_3_value}}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Start date: </span>
                  <input type="date" class="form-control" name="position_date_3" value='{{position_date_3_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">End date: </span>
                  <input type="date" class="form-control" name="end_date_3" value='{{end_date_3_value}}'>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Window (years): </span>
                  <input type="text" class="form-control" name="window_year_3" value='{{window_year_3_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Horizon (days): </span>
                  <input type="text" class="form-control" name="horizon_day_3" value='{{horizon_day_3_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="input-group">
                      <span class="input-group-addon">Risk Free rate: </span>
                      <input type="text" class="form-control" name="rf_3" value='{{rf_3_value}}'>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">VaR Probability: </span>
                  <input type="text" class="form-control" name="var_prob_3" value='{{var_prob_3_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Options maturity (in years): </span>
                  <input type="text" class="form-control" name="mat_3" value='{{mat_3_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="input-group">
                      <span class="input-group-addon">Initial Investments: </span>
                      <input type="text" class="form-control" name="v0_3" value='{{v0_3_value}}'>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Portion of portfolio to liquidate: </span>
                  <input type="text" class="form-control" name="liq_rate_3" value='{{liq_rate_3_value}}'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Implied Vol: </span>
                  <input type="text" class="form-control" name="implied_vol_3" value='{{implied_vol_3_value}}'>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <input type='submit' name="btn_3" value='Calculate'> &nbsp;
              <input type='submit' name="btn_3" value='Download Result Data'>
              <input type="hidden" name="output_file_3" value="{{output_file_3}}">
            </div>
          </form>
          <br>
          <div style="{{opt_table_style}}" align='center'>
            <table>
                <tr><td class="form-control" align='center' style="font-size:130%;">{{table_title}}</td><tr>
                <tr><td class="form-control" align='center' style="font-size:130%;">Stock price: {{s0_value}}</td><tr>
                <tr><td class="form-control" align='center' style="font-size:130%;">Stock shares: {{nstocks_value}}</td><tr>
                <tr><td class="form-control" align='center' style="font-size:130%;">Put price on one share: {{put0_value}}</td><tr>
                <tr><td class="form-control" align='center' style="font-size:130%;">Put shares: {{nputs_value}}</td><tr>
                <tr><td class="form-control" align='center' style="font-size:130%;">VaR without options: {{VaR_1_value}}</td><tr>
                <tr><td class="form-control" align='center' style="font-size:130%;">VaR with options: {{VaR_2_value}}</td><tr>
                <tr><td class="form-control" align='center' style="font-size:130%;">VaR reduction (percentage): {{reduction_value}}</td><tr>
            </table>
          </div>
        </div>
      </div>  
      
      <hr class="featurette-divider">  
        
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>2016 &middot; Hengyi (Harry) Zhu &amp; Shuran Zhang</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src='{{ url_for('static',filename='jquery.min.js')}}'><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src='{{ url_for('static',filename='holder.min.js')}}'></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src='{{ url_for('static',filename='ie10-viewport-bug-workaround.js')}}'></script>
  </body>
</html>
